<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode Generate</title>
</head>
<body>
    <h5>Random Passcode (passcode # @ViewBag.Count )</h5>
    <h5> @ViewBag.passcode </h5>
    <a href="/"><button>Generate New Passcode</button></a>
</body>
</html>
